  <!-- Files modal -->
  <div class="modal fade files-modal" data-bs-backdrop="static" data-bs-keyboard="false" id="filesModal" tabindex="-1"
    aria-labelledby="filesModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content files-modal-content">
        <div class="modal-header">
          <h5 class="modal-title heading-3 heading-files" id="filesModalLabel">Your files</h5>

          <i class="fa-solid fa-xmark btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
          <div class="card-wraper">
          </div>
        </div>
                <!-- spinner  -->
        <!-- spinners -->
        <div class="files-spinners">
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <!-- spinners -->

        <!-- overlay -->
        <div class="files-overlay"></div>
        <!-- overlay -->
        <!-- spinner  -->
      </div>
    </div>
  </div>
  <!-- modal -->