body {
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color) !important;
}

div#canvas {
	display: flex;
}

.books {
	padding: 16px;
	margin-top: 24px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 24px;
	justify-content: center;
}

.books .card {
	max-width: 250px;
	box-shadow: var(--box-shadow);
	background-color: var(--background-color);
	border-radius: 8px;
	padding-bottom: 16px;
	rotate: -11deg;
	transition: all 0.5s ease;
	scale: 0.9;
}

.books .card:hover {
	rotate: 0deg;
	scale: 1
}

.books .card p {
	text-align: center;
	margin-top: 8px;
	color: var(--gray-color);
	font-weight: bold;
}

.books .card img {
	max-width: 100%;
}

.books .card .button-wraper,
.accordion-body .button-wraper {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 6%;
	justify-content: center;
}

.books .card .button-wraper a .accordion-body .button-wraper a {
	font-size: 18px;
	cursor: pointer;
}

.books .card .button-wraper .book-show-btn,
.accordion-body .button-wraper .book-show-btn {
	color: #198754 !important;
}

.books .card .button-wraper .book-download-btn,
.accordion-body .button-wraper .book-download-btn {
	color: #f27474 !important
}

.books .card .button-wraper .book-copy-btn {
	color: var(--gray-color);
}

.books .card .button-wraper i:hover,
.accordion-body .button-wraper i:hover {
	transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
	animation: gelatine 0.5s 1;
}

.close-icon {
	position: absolute;
	z-index: 1000;
	width: 22px;
	height: 22px;
	top: 90px;
	left: 60px;
	top: 78px;
	left: calc(52% + 16px);
	font-size: 32px;
	color: #f27474;
	cursor: pointer;
	display: none;
}

.close-icon:hover,
.zoom-icon-in:hover {
	transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
	animation: gelatine 0.5s 1;
}

/* Acoordion */
.heading-cgp{
	font-size: var(--heading-four) !important;
}
.accordion-waper {
	margin-top: 24px;
	padding-bottom: 80px;
}

.accordion-body .button-wraper {
	display: grid;
	grid-template-columns: auto auto;
	gap: 3%;
	justify-content: start;
}

.accordion-body .button-wraper a {
	color: var(--primary-color) !important;
	text-decoration: none;
	cursor: pointer;
}

/*  */

 .accordion-button.collapsed {
	background: var(--background-color) !important;
	color: var(--primary-color) !important;
}

 .accordion-item:first-of-type>.accordion-header .accordion-button {

	background: var(--background-color) !important;
}

 .accordion-button:not(.collapsed),
 .accordion-button.collapsed {


	/* background: var(--accent-color) !important; */
	background: var(--background-color) !important;
	color: #f1f1f1 !important;
	font-size: var(--heading-six) !important;
}
/*  */

body.light .accordion-button.collapsed {
	background: var(--accent-color) !important;
	color: var(--primary-color) !important;
}

body.light .accordion-item:first-of-type>.accordion-header .accordion-button {

	background: var(--accent-color) !important;
}

body.light .accordion-button:not(.collapsed),
body.light .accordion-button.collapsed {


	/* background: var(--accent-color) !important; */
	background: var(--accent-color) !important;
	color: #f1f1f1 !important;
	font-size: var(--heading-six) !important;

}

 .accordion-body {
	background-color: var(--background-color) !important;
}