
@font-face {
    font-family: "Caveat";
    src: 
         url('/css/webfonts/Caveat-VariableFont_wght.ttf') , /* Safari, Android, iOS */
        
}
@font-face {
    font-family: "Poppins";
    src: 
         url('/css/webfonts/Poppins-Regular.ttf') , /* Safari, Android, iOS */
        
}
@font-face {
    font-family: "Roboto";
    src: 
         url('/css/webfonts/Roboto-Regular.ttf') , /* Safari, Android, iOS */
        
}
@font-face {
    font-family: "Gideon Roman";
    src: 
         url('/css/webfonts/GideonRoman-Regular.ttf') , /* Safari, Android, iOS */
        
}
@font-face {
    font-family: "Montserrat";
    src: 
         url('/css/webfonts/Montserrat-VariableFont_wght.ttf') , /* Safari, Android, iOS */
        
}
:root{
    --cv1-font-size-text: 14px;
    --cv1-font-size-title:18px;
    --cv1-font-size-heading:20px;
    --cv1-fontfamily:"Poppins", sans-serif;
    
    --cv2-font-size-text: 14px;
    --cv2-font-size-title:18px;
    --cv2-font-size-heading:20px;
    --cv2-fontfamily:"Poppins", sans-serif;

    --cv3-font-size-text: 14px;
    --cv3-font-size-title:18px;
    --cv3-font-size-heading:32px;
    --cv3-fontfamily:"Poppins", sans-serif;

    --cv4-font-size-text: 14px;
    --cv4-font-size-title: 18px;
    --cv4-font-size-heading: 30px;
    --cv4-fontfamily:"Roboto", sans-serif;
    
    --cv1-bg1: #084C41;
    --cv1-bg2: #e9e9e9;
    --cv1-fc1:#fbfbfb;
    --cv1-fc2: #000;

    --cv2-bg1:#dee2e6;
    --cv2-bg2: #a8b5c7;
    --cv2-fc1:#000;
    --cv2-fc2: #000;

    --cv3-bg1:#eee;
    --cv3-bg2: #a8b5c7;
    --cv3-fc1:#6c757d;
    --cv3-fc2: #6c757d;

    --cv4-bg1:#fefefe;
    --cv4-bg2: #a8b5c7;
    --cv4-fc1:#000000;
    --cv4-fc2: #6c757d;


    --max-width:700px;

    --cv-width: 816px;
    --cv-min-width: 816px;
    --cv-max-width: 816px;
    --cv-min-height: 1123.2px;
    --cv-lef-side:340px;
    --cv-right-side: 476px;
    
}
p{
    margin-bottom: 0px !important;
}
.dragable{
    cursor: move;
}
.home-wraper{
    display: block;
    margin-top: 24px;
    padding-bottom: 80px;
}
.head-title{
   color: var(--gray-color);
    font-weight: bold;
    text-align: center;
}
/* .btn-create{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
} */
/* .btn-create > div{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    grid-template-rows: auto auto;
} */


.btn-create{
    /* display: grid;
    grid-template-columns: auto auto;
    gap: 0; */
    justify-content: center;
    max-width: var(--max-width);
    justify-content: center;
    margin: auto;

}
    .cv-btn-select{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .cv-btn-select select{
        text-align: center;
    }
 .btn-create  .cv-btn{
    padding: 6px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 2%;
    margin-top: 8px;
    display: none;
}
.btn-create  .cv-btn.show{
    display: grid;
}
.btn-create .cv-btn button:hover{
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}
.btn-create .cv-btn button{
    font-size: 10px;
    width: 105px;
    padding: 6px !important;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.btn-create  button.label-download{
    background-color: var(--accent-color);
}
.btn-create  button.label-download-pdf{
    background-color: #475310;
}
.btn-create  button.label-print{
    background-color: #343a40;
}


.btn-create .cv-btn select {
    font-size: 10px;
    position: relative;
    padding: 6px !important;
    border-left: none;
    border-radius: 0px 4px 4px 0px !important;
}
.btn-create .cv-btn select:hover ,.btn-create .cv-btn select:active ,.btn-create .cv-btn select:focus{
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}
 /* .btn-create .btn.print-pdf{
    background: #6c757d;
    color: var(--theme-color);
}
 .btn-create .btn.download-img-cv{
    background: #607d8b;
    color: var(--theme-color);

} */
 /* .btn-create .btn.document-btn{
    background: #30627b;
    color: var(--theme-color);
} */

/* img.pdf-file {
    width: 30px;
} */

.cv-container {
    max-width: var(--max-width);
    background-color: var(--theme-color);
    margin: 16px auto;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #000;
}
body.light .cv-container {
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    border: none;
}
.form1 label,.form2 label,.form3 label{
    font-size: var(--fw-12);
    color: var(--gray-color);
}

.form-title{
    color: var(--gray-color);
    font-size: var(--fw-14);
}
.image-row{
    margin-top: 16px;
}
.image-preview-wraper{
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
.image-preview-wraper img{
    max-width: 120px;
    object-fit: cover;
    object-position: 50% 45%;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    cursor: pointer;
}
.step {
    display: none;
}
.form-label{
    font-size: 12px;
    color: var(--gray-color);
}
form input::placeholder{
    font-size: 11px;
}
.row-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 16px 0;
}

#nextBtn,
#prevBtn {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: var(--fw-14);
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

#prevBtn {
    margin-right: 8px;
    background-color: var(--theme-color);
    color: #6c757d;
    border: 1px solid #6c757d;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #6c757d;
    color: var(--theme-color);
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

.progress {
    margin-bottom: 20px;
    background-color: var(--background-color);
}
.progress-bar.progress-bar-striped.bg-success{
    background-color: #8BC34A !important;
}
.delete-btn-parent{
    text-align: end;
}
.btn-repeater-add,.btn-repeater-delete{
    border: none;
    padding: 4px 8px;
    color: var(--theme-color);
    margin: 8px 0;
    font-size: var(--fw-14);
    border-radius: 4px;
    background-color: #9E9E9E;
    display: inline-block;
}
.btn-repeater-delete{
    background-color: #F44336;
}
.btn-repeater-add:hover,.btn-repeater-delete:hover{
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

/* button edit */
body.light .edit-cv {
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    border: none;
}
.edit-cv{
    margin: 24px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    justify-content: center;
    /* border: 1px solid #141313; */
    background: var(--background-color);
    max-width: var(--max-width);
    margin: 24px auto;
    border-radius: 16px;
    padding: 16px;
}
.title-edit{
    text-align: center;
    color: var(--primary-color);
}
select.edit_template{
    margin-bottom: 24px;
    font-size: 12px;

}
.show-option
{
    max-width: 700px;
    margin: 0  auto;
    padding: 16px 24px;
}
.edit-hint{
    font-size: 10px;
    color: var(--gray-color);
    text-align: center;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 8px;
    color: var(--primary-color);
}
.show-option select ,.show-option label{
    font-size: 10px;
}
.show-option.hide{
    display: none;
}
.color-row,.font-row{
    display: flex;
    justify-content: space-between;
    text-align: start;
    flex-direction: column;
}
.font-size-row{
    display: grid;
 
    grid-template-columns: 30% 70%;
    gap: 3px;
}
.bg-row{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
/* arrow */
.arrow-key-container {
    display: inline-block;
    text-align: center;
    transform: translate3d(0,0,0);
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 16px 0;
  }
  .arrow-key-container > div:nth-child(1)
  {
    margin-right: 16px;
  }
  .arrow-key {
    align-items: center;
    background: #ccc;
    border-radius: 6px;
    box-shadow: -1px -1px 0px #999, -4px 1px 0 #999, -2px 2px 0 #999, -2px 1px 0 #999;
    color: #fff;
    display: inline-flex;
    font-size: 17px;
    font-weight: bold;
    height: 25px;
    justify-content: center;
    margin: 2px;
    transform: translate3d(0, 0, 0);
    transition: box-shadow .1s linear, transform .1s linear;
    width: 24px;
    &:active,&.press {
      box-shadow: 0px 0px 0 #999, 0px 0px 0 #999, 0px 0px 0 #999, -1px 1px 0 #999;
      transform: translate3d(-3px, 3px, 0);
    }
    &.left:before {
      content: "\2190";
    }
    &.up:before {
      content: "\2191";
    }
    &.down:before {
      content: "\2193";
    }
    &.right:before {
      content: "\2192";
    }
  }



/* arrow */
.default-btn {
    border: none;
    padding: 8px 16px;
    background: #6c757d;
    color: var(--primary-color);
    font-size: var(--fw-12);
    margin-top: 8PX;
    cursor: pointer;
    margin: 16px auto;
    border-radius: 8px;
}
.default-btn:hover{
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}
/* start cv */
/* 
    slider
*/
.sliderm.sliderm--initialized{
max-width: var(--max-width);
margin: auto;
}

.cv-wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    scale: 0.4;
    gap: 24px;
    transform-origin: top;
}
.cv-wraper.browser{
    scale: 0.5;
    transform-origin: top;
}
/* common cv */
.cv{
    width: var(--cv-width);;
    min-width: var(--cv-min-width);
    max-width: var(--cv-max-width);
    min-height: var(--cv-min-height);
}
.cv .inner-cv{
    width: var(--cv-width);;
    min-width: var(--cv-min-width);
    max-width: var(--cv-max-width);
    min-height: var(--cv-min-height);
}

/* common cv */
.cv-box.flex{
    display: flex;
 
}

.cv1 .inner-cv.grid{
    display: grid;
    grid-template-columns: var(--cv-lef-side) var(--cv-right-side);
    box-sizing: border-box;
    font-family: var(--cv1-fontfamily);
}

.cv1 .inner-cv .left{
    background-color: var(--cv1-bg1);
    min-height: 700px;
}
.cv .top-box.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cv .top-box.column .image-cv-box{
    display: flex;
    justify-content: center;

}
.cv .image-cv-box .image-cv{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 45%;
}
.cv .heading-title {
    position: relative;
    padding-left: 20px;
}
/* cv */
.cv1  .image-cv-box{
    margin-top: 24px;
}

.cv1 .name-parent
{
    margin-top: 16px;
}
.cv1 .fullname_cv {
    text-align: center;
    color: var(--cv1-fc1) !important;
    font-size: var(--cv1-font-size-heading);
    margin: 0px !important;
}
.cv1 .jop-cv {
    text-align: center;
    color: var(--cv1-fc1);
    font-size:var(--cv1-font-size-title);
    margin: 0px !important;
}


.cv1 .bottom-box {
    margin-top: 20px;
}
.cv1 .bottom-box >div{
    margin-bottom: 16px;
}
.cv1 .heading-title {
    color: var(--cv1-fc1);
    font-size:var(--cv1-font-size-title);
    font-weight: 400;
}


.cv1 .left .list-container li {
    padding-left: 24px;
    list-style: none;
    color: var(--cv1-fc1);
    font-size:var(--cv1-font-size-text);
}
.cv1 .link-color {
    color: var(--cv1-fc1) !important;
}

.cv1 .right-secion{
    padding: 25px 0;
    background-color: var(--cv1-bg2);
}
.cv1 .right-secion .heading-title{
    color: var(--cv1-fc2);
}
.cv1 .right-secion .list-container{
    padding-left: 50px !important; 
}
.cv1 .right-secion   .list-container li {
    position: relative;
    color: var(--cv1-fc2);
    font-size: var(--cv1-font-size-text);
    line-height: 1.7;
}
/* cv2 */


.cv2 .inner-cv{
    display: grid;
    grid-template-columns: var(--cv-lef-side) var(--cv-right-side);
    box-sizing: border-box;
    font-family: var(--cv2-fontfamily);
}

.cv2 .inner-cv .left{
    background-color: var(--cv2-bg1);
    padding: 48px 0;
    min-height: 700px;
}

.cv2 .top-box.column .image-cv-box{
    padding: 10p
}

.cv2 .name-parent
{
    margin-top: 16px;
}
.cv2 .jop-parent{
    margin-top: 0px;
}
.cv2 .fullname_cv  
{
    text-align: center;
    color: var(--cv2-fc2);
    font-size: var(--cv2-font-size-heading);
}
.cv2 .jop-cv {
    text-align: center;
    color: var(--cv2-fc2);
    font-size: var(--cv2-font-size-heading);
}

.cv2 .heading-title {
    color: #0d6efd;
    font-size: var(--cv2-font-size-title);
    font-weight: 400 !important;
}

.text-size-bold{
    font-size: var(--cv2-font-size-text);
    font-weight: 500;

}
.text-size{
    font-size: var(--cv2-font-size-text);
}
.cv2 .contact-section .list-container:nth-child(1)
{
    margin-top: 16px;
}
.cv2 .contact-section .list-container {
    position: relative;
    margin-bottom: 16px;
   
}
.cv2 .contact-section .list-container li {
    margin: 8px 0;
    list-style: none;
    color: var(--cv2-fc1);
}
.cv2 .contact-section .list-container li  .padding-left{
    margin: 8px 0 0 0;
    padding-left: 16px;
    display: inline-block;
}
.cv2 .contact-section .list-container li a{
    color: #b74646 !important;;
    text-decoration: underline !important;
}
.cv2 .fullname_cv {
    margin-top: 8px;
}
.cv2 .bottom-box {
    padding: 10p
}
.cv2 .right-secion{
    padding: 16px 0;
    background-color: var(--cv2-bg2);
}
.cv2 .right-secion .heading-title{
    color: #0d6efd;
}
.cv2 .right-secion .list-container{
    padding-left: 50px;
}
.cv2 .right-secion .list-container li{
    position: relative;
    color: var(--cv2-fc2);
    font-size: var(--cv2-font-size-text);
    line-height: 1.7;

}


/* cv 3 */
/* .cv-box{
    zoom: 100% !important;
}
.cv1,.cv2 {
    display: none !important;
} */
.cv3{
  
}
.cv3 .inner-cv{
    padding: 24px;
    font-family: var(--cv3-fontfamily);
    background-color: var(--cv3-bg1);
}
.cv3 .inner-cv .heading-3{
    font-size: var(--cv3-font-size-title);
    color: var(--cv3-fc1);
}
.cv3 .info-div{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 24px;
}
.cv3 .top-box .image-cv-box{
    display: flex;
    justify-content: center;
    padding: 10p
}



.cv3 .fullname_cv, .cv3 .jop-cv  {
    color: var(--cv3-fc2);
    margin: 0px !important;
    letter-spacing: 6px;
}
.cv3 .fullname_cv , .cv3 .fullname_cv p {
    font-size: var(--cv3-font-size-heading);
}
.cv3 .fullname_cv span {
    font-weight: bold;
}
.cv3 .jop-cv  {
    font-size: var(--cv3-font-size-title);
}
.cv3 .center-box 
{
    display: grid;
    grid-template-columns: 47% 50%;
}
.cv3 .center-box .left ,.cv3 .center-box .right {
    margin: 6px 0px 0 0;
    position: relative;
}
/* .cv3 .center-box .left::before{
    position: absolute;
    right: 0;
    top: 1%;
    width: 1px;
    height: 97%;
    background-color: var(--cv3-fc2);
    content: "";
}
.cv3 .center-box .left::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 97%;
    content: "";
    height: 1px;
    background-color: var(--cv3-fc2);
}

.cv3 .center-box .right::after{
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 97%;
    content: "";
    height: 1px;
    background-color: var(--cv3-fc2);
} */
.cv3 .center-box .grid-div {
    display: flex;
    padding: 0 16px;
    margin: 4px 0;
}
.cv3 .center-box .grid-div i , .cv3 .center-box .grid-div span {
      color: var(--cv3-fc2);
      font-size: var(--cv3-font-size-text);
}
.cv3 .center-box .grid-div i{
    width: 12%;
}
.cv3 .center-box .grid-div span ,.cv3 .center-box .grid-div a{
    width: 80%;
    font-size: var(--cv3-font-size-text);
}
.cv3 .link-color {
    color: var(--cv3-fc2) !important;
}

.cv3 .heading-title {
    position: relative;
    padding-left: 20px;
    color: var(--cv3-fc2);
    font-weight: bold;
    font-size: var(--cv3-font-size-title);
}
.cv3  .heading-title ~ .ul{
    padding-left: 50px;
}
.cv3  .heading-title ~ .ul li{
    position: relative;
    color: var(--cv3-fc2);
    font-size: var(--cv3-font-size-text);
    line-height: 1.7;
    margin: 0px 0;
}

.cv3  .end-box {
    text-align: center;
}
.cv3  .end-box .heading-title 
{
    padding-left: 0px;
}
.cv3  .end-box .ul{
    padding-left: 0px;
    width: 100%;
    
}
.cv3  .end-box li{
    list-style: none;
    width: 100%;
    text-align: center;
}

/* cv4 */
.cv4{
    background-color: var(--cv4-bg1);
}
.cv4 .inner-cv{
    padding: 24px;
    font-family: var(--cv4-fontfamily);
}
.cv4 .info-div{
    text-align: center;
}
.cv4 .inner-cv .heading-3{
    font-size: var(--cv4-font-size-title);
    color: var(--cv4-fc1);
}
.cv4 .info-div .list-container li {
    list-style: none;
    color: var(--cv4-fc1);
    font-size: var(--cv4-font-size-text);
    display: flex;
    align-items: center;
}
.cv4 .contact-div .list-container 
{
    display: flex;
    justify-content: center;
}
.cv4 .contact-div .list-container li
{
   margin-right: 16px;
}
.cv4 .info-div .list-container li i {
    margin-right: 8px;
}
.cv4 .info-div .list-container li a {
    color: var(--cv4-fc1) !important; 
    font-size: var(--cv4-font-size-text);
    margin: 4px 0;
}

.cv4 .fullname_cv {
    margin-top: 8px;
}
.cv4 .fullname_cv, .cv4 .jop-cv  {
    color: var(--cv4-fc2);
    margin: 0px !important;
    LETTER-SPACING: 3px;
    text-align: center;
    margin-bottom: 0 !important;
  
}
.cv4 .fullname_cv {
    font-size: var(--cv4-font-size-heading);
}
.cv4 .fullname_cv span {
    font-weight: bold;
}
.cv4 .jop-cv  {
    font-size: var(--cv4-font-size-title);
    margin: 0px !important;
}
.cv4 .jop-cv p {
    margin: 0px !important;
}
.cv4 .contact-div{

}
.cv4 .parent-list{
    margin-top: 16px;
}
.center-box.center-box-1{
    margin-bottom: 16px;
}
.cv4 .center-box .grid-div i{
    width: 12%;
}
.cv4 .center-box .grid-div span ,.cv4 .center-box .grid-div a{
    width: 80%;
    font-size: var(--cv4-font-size-text);
}
.cv4 .link-color {
    color: var(--cv4-fc1) !important;
}
.education-parent.parent-list{
    margin-top: 24px;
}   
.cv4 .details-box{
    margin-top: 16px;
}
.cv4 .heading-title {
    position: relative;
    padding-left: 20px;
    color: var(--cv4-fc2);
    font-weight: bold;
    font-size: var(--cv4-font-size-title);
}
.cv4  .heading-title ~ .ul{
    padding-left: 50px;
}
.cv4  .heading-title ~ .ul li{
    position: relative;
    color: var(--cv4-fc1);
    font-size: var(--cv4-font-size-text);
    line-height: 1.7;
    margin: 16px 0;
}

.cv4  .end-box {
    text-align: center;
}
.cv4  .end-box .heading-title 
{
    padding-left: 0px;
    padding-top: 24px;
}
.cv4  .end-box .ul{
    padding-left: 0px;
    margin-top:24px;
    width: 100%;
    
}
.cv4  .end-box li{
    list-style: none;
    width: 100%;
    text-align: center;
}
/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {

    .cv-wraper {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        margin-top: 24px;
        scale: 0.2;
        transition: top center;
        transform-origin: top center;
    }

     .cv-wraper.zoom  {
       scale: 0.4;
       transform-origin: top center
    }

    /* .cv-box.zoom{
        zoom: 39%;
    } */

    /* .show-option{
        display: flex;
        flex-direction: column;
    } */
    .bg-row{
        display: flex;
        /* flex-direction: column; */
        justify-content: U;
        align-items: start;
        JUSTIFY-CONTENT: space-between;
    }
    .bgcolor1-row{
        order: 3;
    }
    .font-size-row{
        display: grid;
        
        grid-template-columns: 30% 70%;
        gap: 3px;
    }

  }
  
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .cv-wraper {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        
        scale: 0.25;
        transition: top center;
        transform-origin: top center;
    }
     .cv-wraper.zoom{
       scale: 0.45;
       transform-origin: top center
    }
     /* .cv-box{
        zoom: 30%;
    }
    .cv-box.zoom{
        zoom: 50%;
    } */
    /* .btn-create{
        display: grid;
        grid-template-columns: auto auto;
    } */
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 991px ){
    .cv-wraper {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        scale: 0.37;
        transition: top center;
        transform-origin: top center;
    }
     .cv-wraper.zoom{
       scale: 0.7;
       transform-origin: top center
    }
     /* .cv-box{
        zoom: 40%;
    }
    .cv-box.zoom{
        zoom: 55%;
    } */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cv-wraper {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        scale: 0.38;
        transition: top center;
        transform-origin: top center;
    }
     .cv-wraper.zoom{
       scale: 0.65;
       transform-origin: top center
    }
     /* .cv-box{
        zoom: 38%;
    }
    .cv-box.zoom{
        zoom: 55%;
    } */
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .cv-wraper {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        scale: 0.48;
        transition: top center;
        transform-origin: top center;
    }
     .cv-wraper.zoom{
       scale: .7;
       transform-origin: top center
    }
     /* .cv-box{
        zoom: 45%;
    } */
     /* .cv-box.zoom{
        zoom: 65%;
    } */
    :root{
        --max-width: 900px
    }
  }



.cvmaker-alert ,.success-alert{
    background-color: var(--background-color) !important;
    font-size: 12px;
    color: var(--primary-color) !important;
}

