
  
.results .spinners , .results .overlay{
    position: absolute !important;
    display: none;
}



.home-wraper{
    text-align: center;
    display: block;
    /* margin-top: 80px; */
}
.head-title{
       /* color: var(--style-color); */
   color: var(--gray-color);
    font-weight: bold;
}
.url-form{
    width: 80%;
    margin: 16px  auto;
    text-align: center;
}
.form-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-wraper {
    margin: 16px 0;
    position: relative;
    width: 92%;
}
.copy-div{
    font-size: 24px;
    margin-left: 6px;
  color: var(--caption-color);
    cursor: pointer;
    transition: all .5s ease;
    display: none;
    animation: copy 0.5s ease-in-out  1s 6 alternate-reverse ;
}

@keyframes copy {
    from {
        transform: scale(1);
    }to {
        transform: scale(1.3);
    }
}
.input-wraper .clear{

    background: var(--caption-color);
    display: none;
    color: #fbfbfb;
    z-index: 100000;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    font-size: 12px;
}

 
.input-wraper .clear:hover{
    color: var(--style-color);
}

.url-input{
    height: 32px;
}
.url-input{
    font-size: 12px;
}
.url-input::placeholder
{
    font-size: 16px;
    color: var(--caption-color);
}



.download-btn {
    transition: all 0.3s ease-in-out;
    margin: 16px;
    border-color: var(--accent-color) !important;
    color: var(--forecolor) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}

.download-btn.disabled{
    user-select: none !important;
    cursor:no-drop !important;
    opacity: 0.6;
    color: var(--theme-color) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}
.download-btn:focus-visible,.download-btn:active{
    border-color: var(--accent-color) !important;
    color: var(--theme-color) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}

.download-btn:hover{
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    border-color: var(--accent-color);
}
@keyframes gelatine {
    0%, 100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
    
}
.results {
    width: 90%;
    margin: auto;
    position: relative;
    display: none;
    
}
.results .card-wraper{
    background-color: var(--background-color);
    border: var(--border);;
    margin: auto;
    padding: 0 !important;
}
.results .image-box{
    padding-top: 8px;
    position: relative;
    height: 166px;
}
.results .card-title{
    color: var(--caption-color) !important;
}
.results .card-text{
    color: var(--caption-color) !important;
}
.results .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.download-box > div {
    display: inline-block;
}
.download-box .link{
    margin-bottom: 8px;
}
.download-box .link .link-download {
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    background-color: var(--theme-color) !important;
}
.download-box .link .link-download:hover{
    background-color: var(--primary-color) !important;
    color: var(--theme-color) !important;
    border: 1px solid var(--theme-color) !important;  
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    
}
.download-box .form-select{
    border: 2px solid var(--accent-color);
}
@media only screen and (max-width: 600px) {

    .contact{
        margin-top: 80px;
    }
    .url-form{
        width: 100%;
        margin: 16px auto 0 auto;
    }
    
    .input-wraper {
        margin: 16px 0;
    }
    .input-wraper .copy, .input-wraper .clear
    {

        cursor: pointer;
        display: none;
    }
 
    .url-input::placeholder
    {
        font-size: 12px;
    }




}
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 767px){
    .url-form{
        margin: 24px  auto;
    }
    
    .input-wraper {
        margin: 16px 0;
        position: relative;
        width: 100%;
    }

 
    .url-input{
        height: 32px;
    }
    .url-input::placeholder
    {
        font-size: 12px;
    }

    

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px)  and (max-width: 991px){
    .url-form{
        width: 80%;
        margin: 32px auto;
    }
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px)  and (max-width: 1199px){

 
    .url-input{
        height: 32px;
    }
    .url-input::placeholder
    {
        font-size: 14px;
    }

    .download-btn{
        transition: all 0.3s ease-in-out;
    }
    .url-form{
        width: 75%;
        margin: 32px  auto;
    }

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .url-form{
       
        margin: 32px  auto;
    }
    .input-wraper{
        width: 70%;
    }

  }