.home-wraper{
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  margin-top: -80px;
}



.name-area{
  display: block;
}


.arrow{
  position: absolute;
  z-index: 6;
  bottom: 90px;
  left: 50%;
  width: fit-content;
  animation-name: arrow;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  cursor: pointer;
  color: var(--accent-color);
}
.contact{
  height: 100vh;
}
.upper,.footer{
  height: 50vh;
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 50%;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* .flip-card-inner {
  animation-name: rotate;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode:both;
} */

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back {
  transform: rotateY(180deg);
}


@keyframes rotate {
  0%{
      transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(0deg);
  }
  
}


@keyframes arrow
{
  0%{
    transform: translateY(4px) ;
  }
  100%{
    transform: translateY(-4px) ;
  }
}

@media only screen and (max-width: 600px)  {
    .home-wraper{
        flex-direction: column;
    }
}


  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 767px){

    .home-wraper{
        flex-direction: column;
    }

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px)  and (max-width: 991px){

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px)  and (max-width: 1199px){

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {


}



