.notes-wraper{
  width: 100%;
  text-align: center;
}
.notes-wraper .hello{

    color: #fba61b;
    font-weight: bold;
}

.wraper-textarea{
  margin: auto;
  margin-top: 24px;
}
  /* .textarea-note {
    min-height: 200px;
    border: 3px dotted var(--primary-color);
    outline: none;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

    padding: 4px 0 0 8px;
  
    resize: both;
    overflow-y: scroll;
    text-align: start;
    height: 250px;
    width: 100%;
    line-height: 38px;
    background-attachment: local;
    border: none;
    background-image: linear-gradient(to right, #FFF, #FFF 7px, transparent 10px), linear-gradient(to left, #FFF, #FFF 10px, transparent 10px), repeating-linear-gradient(#FFF, #FFF 36px, #CCC 38px, #CCC 37px);
    color: #121212;
    box-shadow: 0 2px 8px var(--bs-gray-400);
  }
.textarea-note::-webkit-scrollbar{
  width: 0;
}
.textarea-note.edit{
  border:  solid var(--bs-success-border-subtle);

} */
.edit-div{
  display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 0 8px;
    font-size: 10px;
    position: absolute;
    width: 100%;
    top: -20px;
    left: 0;
    color: #fbfbfb;
    border-bottom: 1px solid #403535;
    padding-bottom: 4px;
}
body.light .edit-div {
  color: #121212;
  border-bottom: 1px solid #403535;
}

.paper {
  position: relative;
  height: 350px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background: #000000;
  border: 2px solid;
  box-shadow: none;
}
body.light .paper {
  background: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,.3);
  border: none;
}
.paper:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 40px;
  box-sizing: border-box;
  background: radial-gradient(#101010 6px, #797878 7px) repeat-y;
  border-right: 3px solid #433637;
   background-size: 18px 18px;
}
body.light .paper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 18px 18px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;
}


.paper-content {
  position: absolute;
  top: 30px; right: 0; bottom: 30px; left: 40px;
  background: black;
}
body.light .paper-content {

  background: transparent;
}

.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
  z-index: 1;
  font-size: 12px;
  background: linear-gradient(#181616, #151414 28px, #202525 28px);
  color: #fbe8e8;
  background-size: 30px 30px;
  background-attachment: local;
}

body.light .paper-content textarea {

    background: linear-gradient(transparent, transparent 28px, #91D1D3 31px);
    background-size: 30px 30px;
    color: #121212;
    font-size: 12px;
    resize: none;
    background-attachment: local;
}
.paper-content textarea::-webkit-scrollbar{
  width: 0;
}

.add-wraper{
      text-align: start;
      margin: 24px 0;
      display: flex;
    align-items: center;
}

.add-note{

    cursor: pointer;
    transition: all 0.25s ease-in-out;
    position: relative;
    margin-bottom: 8px;
    padding: 8px;
    background: var(--accent-color);
    border-radius: 8px;
    color: #fbfbfb;
    transition: all .4s ease;
    opacity: 0.8;
}

.add-note::before{
  content: "\2b";
}
.add-note.edit::before{
  content: "\f00c";
}

.sync{
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-bottom: 8px;
  padding: 8px;
  background: var(--caption-color);
  border-radius: 8px;
  color: #fbfbfb;
  transition: all .4s ease;
  margin-left: 8px;
}


.add-note:hover,.sync:hover {
  
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
  }
  
  @keyframes gelatine {
  0%, 100% {
      transform: scale(1, 1);
  }
  25% {
      transform: scale(0.9, 1.1);
  }
  50% {
      transform: scale(1.1, 0.9);
  }
  75% {
      transform: scale(0.95, 1.05);
  }
  
  }

  

  .sticky-notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 24px;
  }
  
  .sticky-note {
    border-radius: 8px;
    position: relative;
    background-color: var(--note-color);
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: var(--primary-color);
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
    padding-top: 4px;
  }
  
  .sticky-note.animate-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  .note-content {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 17px 0 0 8px;
    resize: both;
    overflow: scroll;
    text-align: start;
    height: 200px;
    user-select: text;
    color: #121212;
    cursor: auto;
    font-size: 10px;
    
  }
  .note-content::first-line{
    font-size: 11px;
    font-weight: bold;
  }
  .sticky-note.animate-out {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }



  
  .note-content::-webkit-scrollbar{
    width: 0;
  }


  .delete-note {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #ff6961;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: none;
    padding: 5px 7px;
    font-size: 10px;
  }
  .sticky-note:hover .delete-note {
    display: block;
  }
 .delete-note.disabled {
  user-select: none;
  cursor: no-drop;
  opacity: 0.4;
  }
  .sticky-note:hover .save-file {
    display: block;
  }
  .delete-note:hover {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
  }

  .save-file {
    position: absolute;
    top: 44px;
    right: 10px;
    background-color: #121212bc;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: none;
    padding: 5px 7px;
    font-size: 10px;
  }
  
  .save-file:hover {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
  }

  .note-time{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    color: #fbfbfb;
    background:#495057;
    transition: all 0.5s ease-in-out;
    z-index: 5;
    font-size: 10px;
  }


  /* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 20px;
  --c:no-repeat radial-gradient(farthest-side, var(--bs-orange) 93%, var(--bs-orange));
  background:
    var(--c) 0    0,
    var(--c) 50%  0,
    var(--c) 100% 0;
  background-size: 8px 8px;
  position: relative;
  animation: l4-0 1s linear infinite alternate;
  display: inline-block;
  margin-left: 8px;
  display: none;
}
.loader.show{
  display: block;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background:  var(--bs-orange);
  left: 0;
  top: 0;
  animation: 
    l4-1 1s  linear infinite alternate,
    l4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l4-0 {
  0%      {background-position: 0  100%,50% 0   ,100% 0}
  8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
  50%     {background-position: 0  0   ,50% 100%,100% 0}
  58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
  100%    {background-position: 0  0   ,50% 0   ,100% 100%}
}
@keyframes l4-1 {
  100% {left:calc(100% - 8px)}
}
@keyframes l4-2 {
  100% {top:-0.1px}
}