.home-wraper{
    margin: 80px 0;
    text-align: center;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;

}

.notes-wraper{
  width: 100%;
}
.notes-wraper .hello{
    font-size: 72px;
    color: #fba61b;
    font-weight: bold;
}

.profile-wraper .message{
    font-size: var(--caption-three);
    color: var(--caption-color);
}
.profile-wraper .wrapper{
    width: 100%;
    background: var(--theme-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }
  .textarea-note {
    width: 100%;
    min-height: 100px;
    border: 3px dotted var(--primary-color);
    outline: none;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--primary-color);
    padding: 4px 0 0 8px;
    color: var(--primary-color);
    resize: both;
    overflow: hidden;
    text-align: start;
    height: 200px;
  }


  .sticky-notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .sticky-note {
    position: relative;
    background-color: var(--note-color);
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: var(--primary-color);
    overflow: hidden;
    user-select: none;
    cursor: pointer;
  }
  
  .sticky-note.animate-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  .note-content {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 4px 0 0 8px;
    resize: both;
    overflow: hidden;
    text-align: start;
    height: 200px;
    user-select: none;
    color: #121212;
    
  }
  .sticky-note.animate-out {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }



  
  .note-content::-webkit-scrollbar{
    width: 0;
  }
  .sticky-note:hover .delete-note {
    display: block;
  }
  .delete-note {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff6961;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: none;
  }
  
  .delete-note:hover {
    background-color: #ff4f4f;
  }
  
  .add-note {
    width: 100%;
    text-align: start;

}
.add-note button {
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
    position: relative;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.add-note button:hover {

  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, .2);
}
  