
.home{
  margin-top: 48px;
 }
 .home > * {
  color: var(--primary-color);
 }
 .home h1 {
  font-size: var(--heading-two);
 }
 .home h2 {
  font-size: var(--heading-three);
 }
 .home h3 {
  font-size: var(--heading-four);
 }
 .home h4 {
  font-size: var(--heading-five);
 }
 .contact{
  margin-top: 80px;
  position: relative;
    bottom: -80px;

}
.contact-wraper{
  position: relative;
  
}
.upper,.footer{

  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  margin-top: 8px;
}

.email-wraper {
  display: none;
    /* width: calc(100% / 3 - 24px); */
    border-radius: 16px;
    border: 1px dotted var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 16px;
    justify-content: space-between;
    width: 100%/1.5;
    background-color: var(--background-color);
}
body.light .email-wraper {
  border: 1px dotted var(--primary-color);
}
.email-wraper a {
  margin: 0 0 16px 0;
  transition: all 0.4s ease-in-out;
}
.email-wraper a:hover,.email-wraper a:focus.email-wraper a:visited{
  color: var(--accent-color);
}
.email-link,.face-link{
  margin-right: 24px;
  color: var(--primary-color);
}
.email-link > i,.face-link > i{
  margin-right: 8px;
}


.footer .links{
  margin-bottom: 16px;
}
.footer .links a{
  text-decoration: none;
  color:  var(--primary-color);
  margin-right: 8px;
}
.love-icon{
  margin-right: 4px;
  color: var(--accent-color);
}
.arrow-down{
  rotate: 180deg;
}
.copyright {
  margin: 0;
  padding: 0 0 24px 0;
} 
.home-wraper{
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  margin-top: -80px;
}



.name-area{
  display: block;
}


.arrow{
  position: absolute;
  z-index: 6;
  bottom: 95px;
  left: 50%;
  width: fit-content;
  animation-name: arrow;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  cursor: pointer;
  color: var(--accent-color);
}

.upper{
  display: none;
}


@keyframes arrow
{
  0%{
    transform: translateY(4px) ;
  }
  100%{
    transform: translateY(-4px) ;
  }
}




  



