
  
.results .spinners , .results .overlay{
    position: absolute !important;
    display: none;
}
.home-wraper{
    text-align: center;
    display: block;
    /* margin-top: 80px; */
}
.head-title{
    /* color: var(--style-color); */
    color: var(--gray-color);
    font-weight: bold;
}
.url-form{
    width: 80%;
    margin: 16px  auto;
    text-align: center;
}
.form-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-wraper {
    margin: 16px 0;
    position: relative;
    width: 92%;
}
.restricted-search-div{
    text-align: start;
    color: darkgray;
}
.restricted-search-div label{
    font-size: 12px;
}
.restricted-search{
    margin-top: 8px;
    margin-left: 4px;
    font-size: 12px;
    background-color: var(--accent-color)  !important;
}
.restricted-search:focus {
    box-shadow: none !important;
}




@keyframes copy {
    from {
        transform: scale(1);
    }to {
        transform: scale(1.3);
    }
}
.input-wraper .clear{

    background: var(--caption-color);
    display: none;
    color: #fbfbfb;
    z-index: 100000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}
 
.input-wraper .clear:hover{
    color: var(--style-color);
}

.url-input{
    height: 32px;
}
.url-input{
    font-size: 12px;
}
.url-input::placeholder
{
    font-size: 16px;
    color: var(--caption-color);
}



.download-btn {
    transition: all 0.3s ease-in-out;
    border-color: var(--accent-color) !important;
    color: var(--forecolor) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
    font-size: 12px !important;
    padding: 6px 8px;
    margin-bottom: 16px;
}

.download-btn.disabled{
    user-select: none !important;
    cursor:no-drop !important;
    opacity: 0.6;
    color: var(--theme-color) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}
.download-btn:focus-visible,.download-btn:active{
    border-color: var(--accent-color) !important;
    color: var(--theme-color) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}

.download-btn:hover{
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    border-color: var(--accent-color);
}
@keyframes gelatine {
    0%, 100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
    
}
.results {
    width: 90%;
    margin: auto;
    position: relative;
    display: none;
    
}
.results .card-wraper{
    background-color: var(--theme-color);
    border: 1px solid #99999970;;
    margin: auto;
    padding: 0 !important;
}
.results .image-box{
    padding-top: 8px;
    position: relative;
    height: 166px;
}

.results .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.download-box > div {
    display: inline-block;
}
.download-box .link{
    margin-bottom: 8px;
}
.download-box .link .link-download {
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    background-color: var(--theme-color) !important;
}
.download-box .link .link-download:hover{
    background-color: var(--primary-color) !important;
    color: var(--theme-color) !important;
    border: 1px solid var(--theme-color) !important;
}
.download-box .form-select{
    border: 2px solid var(--accent-color);
}

  

  


.time-div{
    text-align: start;
    color: var(--primary-color);
    padding-left: 8px;
    font-size: 12px;
    margin-top: 4px;
}
.time-span{
    color: var(--accent-color);
}
.time-div.show{
    display: block;
}
.msg{
    display: none;
}
.msg.show{
    display: block;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 12px;
    color: var(--primary-color);  
}
.msg.show p {
    margin: 0;
    padding: 0;
    position: relative;
}

.msg.show .msg-1{
    animation-name: moveup1;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.msg.show .msg-2{
    animation-name: moveup1;
    animation-duration: 7s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.msg.show .msg-3{
    animation-name: moveup1;
    animation-duration: 5s;
    animation-delay: 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes moveup1 {
    0% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-303px);
    }
    100%{
        transform: translateY(-303px);
    }
}
@keyframes moveup2 {
    0% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-303px);
    }
    100%{
        transform: translateY(-303px);
    }

}
@keyframes moveup3 {
    0% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-60px);
    }
    60%{
        transform: translateY(-303px);
    }
    100%{
        transform: translateY(-303px);
    }

}
@keyframes moveup4 {
    0% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-89px);
    }
    60%{
        transform: translateY(-90px);
    }
    100%{
        transform: translateY(-90px);
    }


}

.msg1-title{
    color: #ffc107;
    font-weight: bold;
}
.msg2-title{
    color: #78b745;
    font-weight: bold;

}
.msg3-title{
color: #2778c4;
font-weight: bold;

}
.btn-results-wraper{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.btn-csv-wraper{
    color: #fbfbfb;
    text-align: start;
    border-radius: 4px;
}
.download-results{
    color: #fbfbfb;
    font-size: 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background: #343a40;
    color: var(--forecolor);
    
}

.download-results:hover, .download-results:focus,.download-results:focus-visible{
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    background: #343a40;
    color: darkgray;
}
.download-results.disabled{
        user-select: none !important;
        cursor:no-drop !important;
        opacity: 0.6;
        background: #343a40 !important;
        color: var(--forecolor) !important;
}

/* start web results grid */

.view-wraper{
    display: flex;
}
.view-icon.active{
    color: var(--accent-color);
}
.sort-icon.active{
    color: var(--accent-color);
}
.show-grid ,.show-bars , .show-list,.asc,.desc{
    font-size: 24px;
    margin-left: 8px;
    color: #495057;
    cursor: pointer;

}
.show-grid:hover ,.show-bars:hover  , .show-list:hover , .asc:hover,.desc:hover{
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    border-color: var(--accent-color);
}
.web-results
{
    padding-bottom: 48px;
}
.web-results.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

/* end of grid show */

/* start web results list */

.web-results.list{ 
    display: block;
}
.web-results.list .inner-results{
    display: grid;
    grid-template-columns: auto 1fr;
    overflow-x: auto;
    margin-bottom: 8px;
    padding-bottom: 4px;
    overflow-y: hidden;
}
/* .web-results.list .inner-results::-webkit-scrollbar-track {
    background: darkgray;
    border-radius: 4px;
    width: 1px !important;
 
} */
.inner-results::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}


::-webkit-scrollbar
{
	height: 8px;
	background-color: #F5F5F5;
}

.inner-results::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.dawaa-results::-webkit-scrollbar-thumb
{
	background-color: #002544 ;
}
.nahdi-results::-webkit-scrollbar-thumb
{
	background-color: #669341  ;
}
.united-results::-webkit-scrollbar-thumb
{
	background-color: #2f6ac2  ;
}

.web-results.list .inner-results .web-name{ 
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
    border-radius: 8px 0 0 8px;
}
.web-results.list .result-wraper{
    display: flex;
    margin-bottom: 0 !important;
}
.web-results.list .result-wraper .card{
    width: 170px;
}
.web-results.list .inner-results .web-name .web-name-span{ 
    display: none;
}
.web-results.list .inner-results .web-name img{ 
    width: 36px;
}

.web-results.list .inner-results .web-name .fa-angle-down{ 
    display: none;
}

/* dsec and asc */

/* dsec and asc */
/* ebd web results list */
.hint{
    color: var(--caption-color);
    font-size: 10px;
}

.card{
    background-color: var(--background-color) !important;
    box-shadow: var(--box-shadow) !important;
    padding: 5px;
    text-align: center;
    position: relative;
    /* padding-top: 16px; */
}
.card-img, .card-img-top, .card-img-bottom
{
 width: 90% !important;   
 
}
.card-title{
    line-height: 1.6;
    display: inline-block;
    margin-bottom: 0 !important;
}
.hint-name{
    position: absolute;
    padding: 2px;
    border-radius: 4px;
    z-index: 4px;
    z-index: 4;
    font-size: 8px;
    background-color: #212529 !important;
    color: darkgray; 
    left: 6px;
    top: 3px;
}
.web-results.grid .hint-name {
    font-size: 8px;
}


body.light .hint-name.dawaa{
    background-color: #002544 !important;
    color: #ffeb38; 
}
body.light .hint-name.nahdi{
    background-color: #78b745 !important;
    color: #fbfbfb;
}
body.light .hint-name.united{
    background-color: #2778c4 !important;
    color: #fbfbfb;
}

.web-name{
    text-transform: capitalize;
    height: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin-bottom: 16px;
}

.web-name.dawaa{
    background-color: #212529 !important;
    color: darkgray;
    /* background-image: url(https://www.al-dawaa.com/media/logo/stores/1/Logo.png) !important; */

}
.web-name.nahdi{

    background-color: #212529 !important;
    color: darkgray;
    /* background-image: url(https://www.nahdionline.com/static/version1712167040/frontend/Nahdi/theme-nahdi-default/en_US/images/sprite.view.svg#nahdi-mobile) !important; */
}
.web-name.united{
    background-color: #212529 !important;
    color: darkgray;
    /* background-image: url(https://unitedpharmacy.sa/media/logo/stores/2/Logo.png) !important; */

 }
body.light .web-name.dawaa{
        background-color: #002544 !important;
        color: #ffeb38; 
}
body.light .web-name.nahdi{
    background-color: #669341 !important;
    color: #fbfbfb;
}
body.light .web-name.united{
    background-color: #2f6ac2 !important;
    color: #fbfbfb;
}

 .web-name.united .web-name-span{
    color:  #fbfbfb;;
 }
 img.image-bg {
    width: 49px;
    margin-right: 10px;
    object-fit: cover;
}
.united-results{
    padding-bottom: 24px;
}

.result-wraper{
    display: grid;
    gap: 10px;
    margin-bottom: 24px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.web-results.grid .result-wraper {
 grid-template-columns:  auto auto;   
}
.card-title{
    color: var(--primary-color) !important;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}

.title-offer{
    font-size: 11px;
    font-weight: 500;
    color: #dc3545 !important;
    margin-bottom: 0 !important;
}
.web-results.grid .title-offer{
    font-size: 10px;
}


.producut-link{
    font-size: 12px;
    padding: 4px 4px;
}

.results .card-text{
    margin-bottom: 0 !important;
}
.results .card-text span:nth-child(1){
    font-weight: bold;
    font-size: 12px;
    color: var(--accent-color);
}
.web-results .code-span ,.web-results .stock-span{
    color: #212529;
    font-size: 10px;
    font-weight: 500;
}
.web-results .code-number{
    color: var(--primary-color);
    font-size: 10px;
    font-weight: 500;
}
.web-results .stock-value{
    font-size: 10px;
    font-weight: 600;
}
.web-results .stock-value.active{
   color: #198754;
}
.web-results .stock-value.inactive{
    color: #82134e;
}
.web-results .exclusive-span{
    text-align: center;
    color: #ffffff ;
    background-color: #c43434;
    border-radius: 27px;
    font-size: 8px;
    min-width: 150px;
    height: 20px;
    margin: auto;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}
.web-results.grid .card-text span:nth-child(1){
    font-size: 10px;
    font-weight: 500;
}
.before-price{
    margin-left: 4px;
    color: #112121;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: bold;
    font-family: system-ui;
}
.web-results.grid .before-price {
    font-size: 10px;
}
.image-wraper {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.card-img, .card-img-top, .card-img-bottom {

    margin: auto;
}
.card-body {
    padding: 0px !important;
    margin-top: 8px;
}
  /* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    height: 20px;
    --c:no-repeat radial-gradient(farthest-side, var(--bs-orange) 93%, var(--bs-orange));
    background:
      var(--c) 0    0,
      var(--c) 50%  0,
      var(--c) 100% 0;
    background-size: 8px 8px;
    position: relative;
    animation: l4-0 1s linear infinite alternate;
    display: none;
    margin: auto;
  }
  .loader.show{
    display: block;
  }
  .loader.show::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background:  var(--bs-orange);
    left: 0;
    top: 0;
    animation: 
      l4-1 1s  linear infinite alternate,
      l4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
  }
  .loader::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background:  var(--bs-orange);
    left: 0;
    top: 0;
    animation: 
      l4-1 1s  linear infinite alternate,
      l4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
  }
  @keyframes l4-0 {
    0%      {background-position: 0  100%,50% 0   ,100% 0}
    8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
    50%     {background-position: 0  0   ,50% 100%,100% 0}
    58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
    100%    {background-position: 0  0   ,50% 0   ,100% 100%}
  }
  @keyframes l4-1 {
    100% {left:calc(100% - 8px)}
  }
  @keyframes l4-2 {
    100% {top:-0.1px}
  }

  .arrow{
    position: fixed;
    z-index: 6;
    right: 16px;
    bottom: 100px;
    width: fit-content;
    animation-name: arrow;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    cursor: pointer;
    color: var(--accent-color);
    display: none;

  }
  
  @keyframes arrow
  {
    0%{
      transform: translateY(4px) ;
    }
    100%{
      transform: translateY(-4px) ;
    }
  }
  .inner-wraper{
    display: none;
  }
  .inner-wraper.show{
    display: block;
  }
  form.filter-form {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 40px;
}

  /* range */
  .slider-wraper{
    display: flex;
  }
  label.price-range,label.max-price {
 
    color: var(--caption-color);
    margin-right: 8px;
    font-size: 12px;
  }
  label.max-price {
    margin-left: 4px;
}
  .slider-wraper {
    /* display: flex; */
    display: grid;
    grid-template-columns: auto 1fr;
}
input.form-control.filter-name {
    border-radius: 0;
    background: transparent !important;
    position: relative;
    width: 80%;
    top: -12px;
    font-size: 12px !important;
}
input.form-control.filter-name ::placeholder{
    font-size: 12px !important;
}

  .form-range {

    background-color: transparent !important;
  }
  .custom-range::-webkit-slider-thumb {
    background: var(--accent-color);
  }
  .custom-range::-webkit-slider-thumb:active {
    background-color: var(--accent-color);
    opacity: 0.7;
}
.custom-range::-webkit-slider-runnable-track {
    background-color: lightgray;
  }
.custom-range::-webkit-slider-thumb,
.custom-range:focus::-webkit-slider-thumb, 
.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb {
    box-shadow: var(--accent-color);
    opacity: 0.7;
}

 .price-value-span,.max-value-span{
    color: var(--accent-color);
}
.filter-wraper{
    margin: 8px 0;
}
.filter-wraper .form-control
{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;

    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    border: 1px solid #fbfbfb !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}
body.light .filter-wraper .form-control{
    border: var(--bs-border-width) solid darkgray !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {

    .url-form{
        width: 100%;
        margin: 16px auto 0 auto;
    }
    
    .input-wraper {
        margin: 16px 0;
        width: 100%;
    }
    .input-wraper .copy, .input-wraper .clear
    {

        cursor: pointer;
        font-size: 16px !important;
        display: none;
    }

    .url-input::placeholder
    {
        font-size: 12px;
    }

    form.filter-form {
        display: flex;
        gap: 0;
        flex-direction: column-reverse;
        justify-content: start;

    }
    .filter-wraper {
        width: 100%;
    }
    .slider-wraper{
       
        width: 100%;
    }
    input.form-control.filter-name {
        padding: 0px !important;
    }
    input.form-control.filter-name{
        width: 90%;
    }

     .show-grid{
        display: none;
     }

}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 767px){
    .url-form{
        margin: 24px  auto;
    }
    
    .input-wraper {
        margin: 16px 0;
        position: relative;
        width: 100%;
    }
    .input-wraper .copy, .input-wraper .clear
    {
        cursor: pointer;
        font-size: 18px !important;
    }
 
    .url-input{
        height: 32px;
    }
    .url-input::placeholder
    {
        font-size: 12px;
    }
    form.filter-form {
        display: flex;
        gap: 0;
        flex-direction: column-reverse;
        justify-content: start;

    }
    .filter-wraper {
        width: 100%;
    }
    .slider-wraper{
       
        width: 100%;
    }
    input.form-control.filter-name {
        padding: 0px !important;
    }
    input.form-control.filter-name{
        width: 90%;
    }
    .show-grid{
        display: none;
     }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px)  and (max-width: 991px){
    .url-form{
        width: 80%;
        margin: 32px auto;
    }
    form.filter-form {
        display: flex;
        gap: 0;
        flex-direction: column-reverse;
        justify-content: start;

    }
    .filter-wraper {
        width: 100%;
    }
    .slider-wraper{
       
        width: 100%;
    }
    input.form-control.filter-name {
        padding: 0px !important;
    }
    input.form-control.filter-name{
        width: 90%;
    }

    .show-grid{
        display: none;
     }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px)  and (max-width: 1199px){
    .input-wraper .copy, .input-wraper .clear
    {
        cursor: pointer;
        font-size: 20px !important;
    }
 
    .url-input{
        height: 32px;
    }
    .url-input::placeholder
    {
        font-size: 14px;
    }

    .download-btn{
        transition: all 0.3s ease-in-out;
    }
    .url-form{
        width: 75%;
        margin: 32px  auto;
    }

    .show-grid{
        display: block;
     }

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .url-form{
       
        margin: 32px  auto;
    }
    .input-wraper{
        width: 70%;
    }
    .result-wraper {
        display: grid;
        gap: 10px;
        margin-bottom: 24px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .card-title {
        
        font-size: 12px;
        line-height: 1.6;
    }
    label.price-range { 
        font-size: 14px;
    }
    body.light .filter-wraper .form-control {font-size: 14px !important;}

    .show-grid{
        display: block;
     }
  }

  mark, .mark {
    padding: 0.1875em;
    color: #f8f9fa;
    background-color: #212529;
  }

  body.light mark, .mark {
    padding: 0.1875em;
    color: var(--bs-highlight-color);
    background-color: var(--bs-highlight-bg);
    .image-wraper img {
        width: 95%;
    }

 

}

.no-found-results{
    font-size: 12px;
    text-align: center;
    color: darkgray;
    width: 100%;
    position: relative;
    top: 16px;
}
.no-filter-results
{
    font-size: 12px;
    text-align: center;
    color: darkgray;
    width: 100%;
    position: relative;
    top: 12px;
}
.inner-results.hide
{
    display: none !important;
}



.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 45%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--theme-color);
    border-bottom: 1px solid #d4d4d4;
    font-size: 12px;
    color: var(--primary-color);
  }
  body.light  .autocomplete-items div {
    background-color: #dee2e6;
    border-bottom: 2px solid #f8f9fa;
  }
  .autocomplete-items div:hover  ,  body.light  .autocomplete-items div:hover{
    /*when hovering an item:*/
    background-color: var(--accent-color);
    color: #f8f9fa;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color:  var(--accent-color) !important;
    color: #ffffff !important;
  }