{% extends 'master.html' %}
{% block css %}
<link href="/css/dashboard.css" rel="stylesheet" type="text/css" />
<script src="/js/lib/google-charts.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block content %}

    <h1 class="heading-3 heading-dashboard">Dashboard</h1>
    <div class="dash-menu">
        <div class="">
                <div class="icon">
                    <a href="#" class="send-email" aria-label="email" data-bs-toggle="modal"data-bs-target="#emailModal">  <i class="fa-solid fa-paper-plane"></i></a>
                </div>
        </div>
        <div class="">
                <div class="icon">
                    <a href="#" class="editusers-link" aria-label="users" data-bs-toggle="modal"data-bs-target="#editusersModal">  <i class="fa-regular fa-pen-to-square"></i></a>
                  
                </div>
        </div>
        <div class="">
                <div class="icon">
                   
                    <a> <i class="fa-solid fa-chart-line"></i></a>
                </div>
        </div>


    </div>
    <div class="main-dashboard">
        <div class="users">
                <div class="icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="info">
                    <p class="num"></p>
                    <p class="title">Total Users</p>
                </div>
        </div>
        <div class="active-users">
                <div class="icon">
                    <i class="fa-solid fa-user-check"></i>
                </div>
                <div class="info">
                    <p class="num"></p>
                    <p class="title">Active Users</p>
                </div>
        </div>
        <div class="inactive-users">
                <div class="icon">
                    <i class="fa-solid fa-user-large-slash"></i>
                </div>
                <div class="info">
                    <p class="num"></p>
                    <p class="title">Inactive Users</p>
                </div>
        </div>


    </div>
    <div class="charts row">
        <div id="chart_div" class="col"></div>
        <div id="timeline" class="col"></div>
    </div>
    <div class="email-card">
        <div class="card">
            <div class="card-header">
              Emails
            </div>
            <ul class="list-group list-group-flush email-items">
            </ul>
          </div>
    </div>

{% endblock %}


{% block modal %}
{% include 'modals/registermodal.html' %}
{% include 'modals/loginmodal.html' %}
{% include 'modals/emailmodal.html' %}
{% include 'modals/editusersmodal.html' %}
{% endblock %}

{% block footer %}

{% endblock %}



{% block scripts %}
<script src="/js/firbase.js" type="module"></script>
<script src="/js/helper.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/user.js" type="module"></script>
<script src="/js/dashboard.js" type="module"></script>
{% if isLogged == True: %}
<script src="/js/logout.js" type="module"></script>
{%  endif %}
<script src="/js/script.js"></script>
{% endblock %}