{% extends 'master.html' %}
{% block css %}
<link href="/css/lib/footer.css" rel="stylesheet" type="text/css" />
<link href="/css/download.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
      <!-- after login -->
      <div class="home-wraper">
        <h3 class="heading-2 head-title">
           Youtube Downloader
        </h3>
        <form class="url-form">
              <div class="form-wraper">
                    <div class="input-wraper">
                      <input class="form-control form-control-lg url-input" type="url" placeholder="Enter url you want to download" aria-label=".form-control-lg example" name="url">
                      <i class="fa-solid fa-xmark clear"></i>
                  </div>
                 <!-- <div class="copy-div">
                  <i class="fa-solid fa-copy copy"></i>
                 </div> -->
              </div>
              <button type="submit" class="btn  btn-lg download-btn heading-6">Download <i class="fa-solid fa-download"></i></button>
          </form>
          
          <div class="results">
            <div class="card mb-3 card-wraper" style="max-width: 540px;">

            </div>
          
          <!-- spinners -->
          <div class="spinners">
            <div class="spinner-grow text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <!-- spinners -->

          <!-- overlay -->
  <div class="overlay"></div>
  <!-- overlay -->
        </div>  <!--end of resules-->
    </div>

      <!-- after login -->
{% endblock %}


{% block modal %}
    {% include  'modals/registermodal.html' %}
    {% include  'modals/loginmodal.html' %}
{% endblock %}



{% block scripts %}
    <script src="/js/firbase.js" type="module"></script>
    <script src="/js/helper.js"></script>   
    <script src="/js/lib/downloadFile.js"></script>   
    <script src="/js/validation.js"></script> 
    {% if isLogged == True: %}
        <script src="/js/logout.js" type="module"></script>
    {%  endif %}    

    <script src="/js/download.js"></script>
    <script src="/js/user.js" type="module"></script>
    <script src="/js/script.js"></script>
{%  endblock %}

