{% extends 'master.html' %}
{% block css %}
<link href="/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div class="home-wraper">
  <div class="profile">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img class="profile-img" src="/images/profile.png" alt="profile">
        </div>
        <div class="flip-card-back">
          <img class="profile-img" src="/images/hasan.png" alt="profile">
        </div>
      </div>
    </div>
  </div>
  <div class="name-area">
    <span class="caption-5">Hello, i'm </span>
    <h2 class="heading-2 my-name">Hasan Meady</h2>
    <h3 class="title caption-6">Full stack developer</h3>
    <div class="button-wraper">
      <a class="left-btn heading-6 btn" href="/files/Hassan Meady_CV.pdf" download target="_blank"
        aria-label="Download CV">Download CV</a>
      <a class="right-btn heading-6 btn" href="https://github.com/yassinhasan" target="_blank"
        aria-label="GitHub">GitHub</a>
    </div>
  </div>
  <a class="arrow" href="#footer" aria-label="arrow">
    <i class="fa-solid fa-angles-down"></i>
  </a>

  <!--  loginupload files -->
</div>
  <!-- upload files -->

{% endblock %}


{% block modal %}
{% include 'modals/registermodal.html' %}
{% include 'modals/loginmodal.html' %}

{% endblock %}

{% block footer %}
{% include "layouts/contact.html" %}
{% endblock %}

<!-- {% block chatboot %}
    {% include "layouts/chatbot.html" %}  
{% endblock %} -->

{% block scripts %}
<script src="/js/firbase.js" type="module"></script>
<script src="/js/helper.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/user.js" type="module"></script>
<script src="/js/script.js"></script>
{% endblock %}