<!-- header -->
{% include "layouts/header.html" %}
<!-- css -->
{% block css %}
{% endblock %}
</head>

<!-- body -->
<body class="light">
    <div class="container">
      <!-- nav -->
        {% include "layouts/nav.html" %}
    <div class="home">
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- here home or upload page -->
    </div>

    <!-- footer -->
    {% block footer %}
    {% endblock %}
  </div> <!--  end of conatiner-->

    <!-- model -->
    {% block modal %}
    {% endblock %}
    {% include  'modals/calcmodal.html' %}
    <!-- loader -->
    {% include "layouts/spinner.html" %}
    {% include "layouts/footer.html" %}

    {% block chatboot %}
      {% include "layouts/chatbot.html" %}  
    {% endblock %}

    
    <!-- js scripts -->
    {% block scripts %}
    
    {%  endblock %}
    <script src="/js/lib/chatbot.js"></script>
    <script src="/js/lib/calc.js"></script>
    <script src="/js/lib/record.js"></script>

</body>

</html>

