<!-- header -->
{% include "layouts/header.html" %}
<!-- css -->
{% block css %}
{% endblock %}
</head>

<!-- body -->
<body class="light">
    <div class="container">
      <!-- nav -->
        {% include "layouts/nav.html" %}
    <div class="home">
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- here home or upload page -->
    </div>

    <!-- footer -->
    {% block footer %}
    {% endblock %}
  </div> <!--  end of conatiner-->
  {% block books %}
  {% endblock %}
    <!-- model -->
    {% if not isLogged %}
    {% include  'modals/registermodal.html' %}
    {% include  'modals/loginmodal.html' %}
    {% endif %}

    {% block modal %}
    {% endblock %}
    {% include  'modals/calcmodal.html' %}
    {% include  'modals/targetmodal.html' %}
    <!-- loader -->
    {% include "layouts/spinner.html" %}
    {% include "layouts/chatbot.html" %}  
    {% include "layouts/footer.html" %}



    <!-- js scripts -->
    {% block scripts %}
    {%  endblock %}

 
</body>

</html>

