{% extends 'master.html' %}
{% block css %}
<link href="/css/lib/footer.css" rel="stylesheet" type="text/css" />
<link href="/css/notes.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
      <div class="home-wraper">
        <div class="notes-wraper">
          <h2 class="hello heading-2">My Notes</h2>
          <div class="wrapper wraper-textarea">
              <!-- <textarea class="textarea-note" placeholder="Enter your note here"></textarea> -->
              <div class="paper">
                <div class="paper-content">
                    <div class="edit-div"><span class="show-time"></span><span class="show-edit-text">New Note</span></div>
                    <textarea autofocus class="textarea-note"></textarea>
                </div>
            </div>
              <div class="add-wraper">
             
                <i class="fa-solid fa-plus add-note" title="edit note"></i>
                <i class="fa-solid fa-rotate sync" title="sync data from database"></i>
                <div class="loader"></div>
                <small class="" style="margin-left: 8px;color: var(--caption-color)">Double click on notes to edit or save it as file</small>
              </div>
              <div class="sticky-notes">
              
              </div>
            </div>
          </div>
        </div>
     </div>
      <!-- after login -->
{% endblock %}


{% block modal %}
    {% include  'modals/registermodal.html' %}
    {% include  'modals/loginmodal.html' %}
{% endblock %}



{% block scripts %}
    <script src="/js/firbase.js" type="module"></script>
    <script src="/js/helper.js"></script>   
    <script src="/js/validation.js"></script> 
    {% if isLogged == True: %}
        <script src="/js/logout.js" type="module"></script>
    {%  endif %}    

    <script src="/js/user.js" type="module"></script>
    <script src="/js/lib/downloadFile.js"></script>
    <script src="/js/notes.js" type="module"></script>
    <script src="/js/script.js"></script>
{%  endblock %}

