{% extends 'master.html' %}
{% block css %}
<link href="/css/lib/footer.css" rel="stylesheet" type="text/css" />
<link href="..//css/upload.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block nav %}
<a href="{{ url_for('downloadpage') }}"
  class="heading-nav video-download {%  if url_for(request.endpoint)  == '/download': %} {{ 'active' }}{%  endif %}">Download</a>
{% endblock %}
{% block innerlinks %}
<a href="{{ url_for('downloadpage') }}"
  class="heading-nav video-download {%  if url_for(request.endpoint)  == '/download': %} {{ 'active' }}{%  endif %}">Download</a>
{% endblock %}


{% block content %}


<!-- after login -->
<div class="home-wraper">
  <div class="profile-wraper">
  <h2 class="hello">Hello!</h2>
  <h2 class="username">
    {{ username }}
  </h2>
  <h3 class="message">You can use many service like upload and download any files</h3>
  <span class="down">&darr;</span>

  <div class="wrapper">
    <button class="heading-nav files-btn" aria-label="files" data-bs-toggle="modal" data-bs-target="#filesModal">Show
      Files</button>
    <form action="#" class="upload-form" enctype="multipart/form-data">
      <input class="file-input" type="file" name="file" hidden multiple>
      <i class="fas fa-cloud-upload-alt"></i>
      <p class="drop-text">Click or Drag & Drop to Upload File</p>
    </form>
    <section class="progress-area"></section>
    <section class="uploaded-area hide"></section>
  </div>
</div>
  <a class="arrow" href="#footer" aria-label="arrow">
    <i class="fa-solid fa-angles-down"></i>
  </a>
</div>

{% endblock %}


{% block modal %}
{% include 'modals/filesmodal.html' %}
{% endblock %}



{% block scripts %}
<script src="/js/firbase.js" type="module"></script>
<script src="/js/helper.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/upload.js" type="module"></script>
<script src="/js/files.js" type="module"></script>
<script src="/js/logout.js" type="module"></script>
<script src="/js/script.js"></script>

{% endblock %}