    <!-- start of contact page  -->
    <div class="contact" id="contact">
        <div class="contact-wraper">
          <div class="upper">
            <h2 class="caption-5 text-center">Get in Touch</h2>
            <h2 class="heading-2 text-center heading-card">Contact Me</h2>
            <div class="email-wraper">
              <a href="mailto:hasanmeady781@gmail.com" class="email-link"><i class="fa-solid fa-envelope email-icon"
                  aria-label="email"></i>hasanmeady781@gmail.com</a>
              <a href="https://wa.me/+966546035917" class="email-link" aria-label="phone"><i
                  class="fa-solid fa-phone"></i>+966-546035917</a>
              <a href="https://www.facebook.com/hasan.meady.5/" class="face-link" target="_blank" aria-label="facebook"><i
                  class="fa-brands fa-facebook facebook-icon"></i>Facebook</a>
              <a href="https://www.linkedin.com/in/hasan-meady-7679081b4/" class="face-link" target="_blank"
                aria-label="linkedin"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
              <a href="https://hasanmeady.web.app" class="face-link" target="_blank"
                aria-label="Portfolio"><i class="fa-solid fa-user-tie"></i>My Portfolio</a>
            </div>
          </div>
          <div class="footer" id="footer">
            <p class="copyright caption-3">Made with <span class="love-icon"><i class="fa-regular fa-heart"></i></span>By
              Hasan Meady. All Rights Reserved.</p>
          </div>
        </div>
      </div>
      <!-- end of contact page  -->
    </div> <!-- end of container -->