{% include "header.html" %}
{% block css %}
{% endblock %}
</head>
<body class="light">
    <div class="container">
        <nav id="nav">
            <div class="logo">
              <h1 class="heading-1">
                <span class="color-letter">H</span><span>a</span><span>s</span><span>a</span><span>n</span>
              </h1>
            </div>
            <div class="right-links">
              <!-- links -->
              <div class="links">
                {% block nav %}
                {% endblock %}
                  {%  if session['isLogged'] %}
                  <a href="{{ url_for('uploadpage') }}" class="heading-nav video-download {% if session['active']== 'upload'  %} {{ 'active' }} {% endif %}">Files</a>
                  <a href="#" class="heading-nav logout">logout</a>
                  {%  else %}
                  <a href="#" class="heading-nav sign-in" aria-label="login" data-bs-toggle="modal"
                    data-bs-target="#loginModal">Login</a>
                  <a href="#" class="heading-nav register" aria-label="register" data-bs-toggle="modal"
                    data-bs-target="#registerModal">Register</a>
                  {% endif %} 
  
                <i class="fa-solid fa-moon"></i>
            </div>

        </nav>
        {% include "nav.html" %}
    <div class="home">
        
        {% block content %}
        {% endblock %}
        <!-- here home or upload page -->
    </div>

    {% include "contact.html" %}

    {% block modal %}
    {% endblock %}

    {% include "layouts/spinner.html" %}
    {% include "footer.html" %}

    {% block scripts %}
    {%  endblock %}

    

</body>

</html>

