connexion[swagger-ui]<3
flask>=2.0
setuptools==58.2.0
pycryptodome
Cmake  
flask_session
flask-cors
FLASK-WTF
firebase_admin
pyrebase4
selenium
beautifulsoup4
lxml
Werkzeug>=2.0
gunicorn>=20.0
uuid
pyjwt==2.0.0

