
    <!-- firebase -->
     <!-- toastify -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.js"></script>
     <!-- end toastify -->
     <script src="/js/lib/sweetalert2.js"></script>
     <script src="/js/lib/pooper.js"></script>
     <script src="/js/lib/bootstrap.min.js"></script>
     <script src="/js/config.js"></script>
     <!-- <script src="/js/worker.js"></script> -->
     <!-- main js -->
     <script src="/js/main.js"></script>
 
     {%  if isLogged == False: %}
     <script src="/js/user.js" type="module"></script>
     {% endif %} 
 
   
 
 
     {% if messages %}
     <script>
             const Toast = Swal.mixin({
     customClass: 'swal-upload',
     toast: true,
     position: "top-end",
     showConfirmButton: false,
     timer: 3000,
     color: "#b58126",
     timerProgressBar: true,
     didOpen: (toast) => {
       toast.onmouseenter = Swal.stopTimer;
       toast.onmouseleave = Swal.resumeTimer;
     }
     });
     Toast.fire({
     icon: "{{ messages['type'] }}",
     title: "{{  messages['msg'] }}"
     }); // end of alert
     
     
     var mustLogin = "{{  messages['mustLogin'] }}"
     if(mustLogin === "True")
     {
     document.querySelector(".sign-in").click()
     }
     
     </script>
     {% endif %}