
    <!-- firebase -->
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/sweetalert2.js"></script>
    <script src="/js/lib/pooper.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/config.js"></script>
 


    {% if messages %}
    <script>
            const Toast = Swal.mixin({
    customClass: 'swal-upload',
    toast: true,
    position: "top-end",
    showConfirmButton: false,
    timer: 3000,
    color: "#b58126",
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.onmouseenter = Swal.stopTimer;
      toast.onmouseleave = Swal.resumeTimer;
    }
    });
    Toast.fire({
    icon: "{{ messages['type'] }}",
    title: "{{  messages['msg'] }}"
    }); // end of alert
    
    
    var mustLogin = "{{  messages['mustLogin'] }}"
    if(mustLogin === "True")
    {
    document.querySelector(".sign-in").click()
    }
    
    </script>
    {% endif %}