
</div>  <!-- end of container -->
<!-- firebase -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/sweetalert2.js"></script>
<script src="/js/lib/pooper.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/config.js"></script>




<!-- <script src="{{ url_for('static',filename='js/helper.js') }}"></script>
<script src="{{ url_for('static',filename='js/validation.js') }}"></script>
<script src="{{ url_for('static',filename='js/firbase.js') }}" type="module"></script>
<script src="{{ url_for('static',filename='js/upload.js') }}" type="module"></script>
<script src="{{ url_for('static',filename='js/files.js') }}" type="module"></script>
<script src="{{ url_for('static',filename='js/script.js') }}"></script> -->
