<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/lib/fontawesome.css" rel="stylesheet">
    <link href="/css/lib/glutin-fonts.css" rel="stylesheet">
    <link
    href="/css/lib/poppins-fonts.css" rel="stylesheet">
    <!-- fonts -->
    <!-- alert -->
    <link href="/css/lib/sweetalert2.css" rel="stylesheet">
    <!-- bootstrap -->
    <link href="/css/lib/bootstrap.css" rel="stylesheet">
    <title>{{ pagetitle }}</title>
    <meta name="description"
        content="this site made by dr hasan (dr.null) to help his friends to find solution to bypass restriction from other bad people who block sharing files">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="keywords" content="HTML, CSS, JavaScript ,TANTA , egypt,al-dawaa,dawa,pharmacist,pharmacy,design">
    <meta name="author" content="Dr.Null(Hasan Meady)">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="manifest" href="/manifest.json" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="/images/icon-192x192.png">
    <link rel="apple-touch-icon" href="/images/icon-256x256.png">
    <link rel="apple-touch-icon" href="/images/icon-384x384.png">
    <link rel="apple-touch-icon" href="/images/icon-512x512.png">



    <meta name="apple-mobile-web-app-status-bar" content="#fbfbfb" />
    <meta name="theme-color" content="#fbfbfb" />

    <link href="/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/css/upload.css" rel="stylesheet" type="text/css" />
    <link href="/css/files.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="csrf_token" content="{{ csrf_token() }}">

    <!-- <style>
        .spinners {
            display: block;
        }

        .overlay {
            display: block;
        }
    </style> -->
    
