<nav id="nav">
  <div class="logo">
    <h1 class="heading-1">
      <span class="color-letter">H</span><span>a</span><span>s</span><span>a</span><span>n</span>
    </h1>
  </div>
  <div class="right-links">
    <!-- links -->
    <div class="right-links">
      <div class="links outer-links">
      {% block nav %}
      {% endblock %}
      {% if isLogged == True: %}
      <a href="{{ url_for('bookpage') }}" class="heading-nav  {%  if url_for(request.endpoint)  == '/data': %} {{ 'active' }}{%  endif %}">Data</a>
      <a href="{{ url_for('downloadpage') }}" class="heading-nav  {%  if url_for(request.endpoint)  == '/download': %} {{ 'active' }}{%  endif %}">YDownload</a>
        <a href="{{ url_for('uploadpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/upload' : %} {{ 'active' }} {%  endif %}"> Files</a>
        <a href="{{ url_for('searchpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/search' : %} {{ 'active' }} {%  endif %}">Magic Search</a>
        <a href="{{ url_for('notespage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/notes' : %} {{ 'active' }} {%  endif %}">Notes</a>
        <a href="{{ url_for('cvmakerpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/cvmaker' : %} {{ 'active' }} {%  endif %}">Cv Maker</a>
        <a href="#" class="heading-nav calc" aria-label="calc" data-bs-toggle="modal"data-bs-target="#calcModal">Calc</a>
        <a href="#" class="heading-nav target" aria-label="target" data-bs-toggle="modal"data-bs-target="#targetModal">Target</a>
        <a href="#" class="heading-nav record recording-toggle" title="record screen">Record</a>
        <a href="{{ url_for('dashboardpage') }}" class="heading-nav dashboard {%  if url_for(request.endpoint)  == '/dashboard': %} {{ 'active' }}{%  endif %}">Dashboard</a>
        <a href="#" class="heading-nav logout">logout</a>
        <a href="{{ url_for('dashboardpage') }}" class="heading-nav dashboard {%  if url_for(request.endpoint)  == '/dashboard': %} {{ 'active' }}{%  endif %}">Dashboard</a>
        {%  else %}
        <a href="{{ url_for('downloadpage') }}" class="heading-nav  {%  if url_for(request.endpoint)  == '/download': %} {{ 'active' }}{%  endif %}">YDownload</a>
        <a href="{{ url_for('searchpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/search' : %} {{ 'active' }} {%  endif %}">Magic Search</a>
        <a href="{{ url_for('cvmakerpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/cvmaker' : %} {{ 'active' }} {%  endif %}">Cv Maker</a>
        <a href="#" class="heading-nav calc" aria-label="calc" data-bs-toggle="modal" data-bs-target="#calcModal">Calc</a>
        <a href="#" class="heading-nav record recording-toggle" title="record screen">Record</a>
        <a href="#" class="heading-nav sign-in" aria-label="login" data-bs-toggle="modal"
          data-bs-target="#loginModal">Login</a>
        <a href="#" class="heading-nav register" aria-label="register" data-bs-toggle="modal"
          data-bs-target="#registerModal">Register</a>
          <a href="{{ url_for('dashboardpage') }}" class="heading-nav dashboard {%  if url_for(request.endpoint)  == '/dashboard': %} {{ 'active' }}{%  endif %}">Dashboard</a>
        {% endif %} 

    </div>
      <!-- enable permssion icon -->
    <div class="dropdown" data-bs-auto-close="outside">
      <i class="fa-regular fa-bell notify-perm  dropdown-toggle" title="allow permssions" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
      <ul class="dropdown-menu permssion-dropdown" aria-labelledby="notificationDropdown">
        <!--  -->
        <li>
          
          <label class="dropdown-item" for="notificationToggle">
            Enable Notification
            <input type="checkbox" class="form-check-input cutsom-check" id="notificationToggle">
          </label>
        </li>
        <li>
          <label class="dropdown-item" for="locationToggle">
            Enable Location
            <input type="checkbox" class="form-check-input cutsom-check" id="locationToggle">
          </label>
        </li>
      </ul>
    </div>
    <div class="menu-btn">
      <i class="fa-solid fa-bars burger"></i>
      <div class="links inner-links">
        {% block innerlinks %}
        {% endblock %}
          {%  if isLogged == True: %}
          <a href="{{ url_for('bookpage') }}" class="heading-nav  {%  if url_for(request.endpoint)  == '/data': %} {{ 'active' }}{%  endif %}">Data</a>
          <a href="{{ url_for('downloadpage') }}" class="heading-nav  {%  if url_for(request.endpoint)  == '/download': %} {{ 'active' }}{%  endif %}">YDownload</a>
          <a href="{{ url_for('searchpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/search' : %} {{ 'active' }} {%  endif %}">Magic Search</a>
          <a href="{{ url_for('uploadpage') }}" class="heading-nav  {%  if url_for(request.endpoint)  == '/upload': %} {{ 'active' }}{%  endif %}">Files</a>
          <a href="{{ url_for('notespage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/notes' : %} {{ 'active' }} {%  endif %}">Notes</a>
          <a href="{{ url_for('cvmakerpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/cvmaker' : %} {{ 'active' }} {%  endif %}">Cv Maker</a>
          <a href="#" class="heading-nav calc" aria-label="calc" data-bs-toggle="modal" data-bs-target="#calcModal">Calc</a>
          <a href="#" class="heading-nav target" aria-label="target" data-bs-toggle="modal"data-bs-target="#targetModal">Target</a>         
          <a href="#" class="heading-nav record recording-toggle" title="record screen">Record</a>
          <a href="#" class="heading-nav logout">logout</a> 
          <a href="{{ url_for('dashboardpage') }}" class="heading-nav dashboard {%  if url_for(request.endpoint)  == '/dashboard': %} {{ 'active' }}{%  endif %}">Dashboard</a>
   {%  else %}
          <a href="{{ url_for('downloadpage') }}" class="heading-nav  {%  if url_for(request.endpoint)  == '/download': %} {{ 'active' }}{%  endif %}">YDownload</a>
          <a href="{{ url_for('searchpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/search' : %} {{ 'active' }} {%  endif %}">Magic Search</a>
          <a href="{{ url_for('cvmakerpage') }}" class="heading-nav  {%  if url_for(request.endpoint) == '/cvmaker' : %} {{ 'active' }} {%  endif %}">Cv Maker</a>
          <a href="#" class="heading-nav calc" aria-label="calc" data-bs-toggle="modal" data-bs-target="#calcModal">Calc</a>
          <a href="#" class="heading-nav record recording-toggle" title="record screen">Record</a>
          <a href="#" class="heading-nav sign-in" aria-label="login" data-bs-toggle="modal"
            data-bs-target="#loginModal">Login</a>
          <a href="#" class="heading-nav register" aria-label="register" data-bs-toggle="modal"
            data-bs-target="#registerModal">Register</a>
            <a href="{{ url_for('dashboardpage') }}" class="heading-nav dashboard {%  if url_for(request.endpoint)  == '/dashboard': %} {{ 'active' }}{%  endif %}">Dashboard</a>
          {% endif %} 
      </div>
    </div>
    <i class="fa-solid fa-moon" style="margin-left: 16px;"></i>
  </div>

</nav>

<!-- notificaion trigger button -->
